@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --general-font: inter, times, serif;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--general-font);
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.btn-green {
  background-color: #36b37f;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: white;
  border: none;
  letter-spacing: 0.03em;
}

.btn-green:hover {
  box-shadow: 0 8px 16px rgb(54 179 127 / 24%);
  transform: scale(1.02);
}

.btn-green:active {
  background-color: #008552;
  transform: scale(1.02);
}

/* header and main section */
.main-section-container {
  background-image: url("/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  height: auto;
}

.header-container {
  width: 100%;
  padding: 2rem;
  font-weight: 600;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-nav > a {
  display: inline-block;
}

.welcome {
  color: #28352f;
  font-weight: 600;
  font-size: 1.25rem;
  width: 5.5rem;
  height: 1.75rem;
  line-height: 1.75rem;
}

.hamburger {
  cursor: pointer;
}

.bar {
  width: 1.2rem;
  border: 0.15rem solid #28352f;
  background-color: #28352f;
  margin-top: 0.15rem;
  border-radius: 0.15rem;
}

.nav-menu {
  display: none;
}

/* end of header section */

/* main section */
.main-title {
  text-align: center;
  font-size: 2.5rem;
}

.main-section-title {
  color: #172b4d;
}

.main-section-subtitle {
  color: #36b37e;
}

.main-section-paragraph {
  color: #172b4d;
  margin-top: 3rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
}

.social-meadia-container {
  display: flex;
  justify-content: center;
}

.social-meadia-container ul > li {
  display: inline-block;
}

.social-meadia-items {
  padding: 1.5rem 0.25rem;
}

.main-section-footer {
  text-align: center;
  margin: 1.9rem 0;
}

/* end of header and main section */

/* work section */
.work-section-container {
  font-family: Inter, Times, serif;
  display: grid;
  grid-template-rows: auto auto auto auto;
  margin: 5rem 1rem;
  row-gap: 1.25rem;
}

.work-section-title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 4.4rem;
  color: #172b4d;
  font-family: inherit;
}

.hr-line {
  height: 0.25rem;
  width: 3rem;
  color: #36b37e;
  background-color: #36b37e;
  border-radius: 1.5rem;
  margin: auto;
}

.work-section-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 0.06rem solid #d0d9d4;
  height: 70vh;
  background-color: #ebf0ee;
  color: #3a4a42;
  border-radius: 0.5rem;
  margin: 0 0.4rem;
}

.image-area {
  height: 100%;
  border-radius: 0.5rem;
}

.desc-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
}

.card-lable-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.card-title {
  color: #172b4d;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

.card-lable {
  background-color: #ebf0ee;
  color: #172b4d;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  float: left;
  margin-top: 0.5rem;
}

/* end of work section */

/* about me section */
.aboutme-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 1.25rem;
  background-image: url("assets/images/frame1.png"), url("assets/images/frame2.png");
  background-position: 100% 0%, 0% 15%;
  background-repeat: no-repeat, no-repeat;
}

.aboutme-text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3.6rem 10%;
}

.aboutme-title {
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 3.25rem;
  text-align: center;
  color: #172b4d;
}

.aboutme-paragraph {
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  color: #42526e;
  margin: 3.2rem 0;
}

.aboutme-cards-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 1.25rem;
}

.aboutme-card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
  background-color: #ebf0ee;
  color: #3a4a42;
  border: 0.06rem solid #c1c7d0;
  border-radius: 0.5rem;
  margin: 0 1.25rem;
}

.aboutme-card-logo {
  width: 5rem;
  height: 5rem;
  background: #fff;
  box-shadow: 0 1rem 1.5rem rgb(37 47 137 / 8%);
  border-radius: 50%;
}

.aboutme-logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutme-card-title {
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #344563;
  margin: 1.5rem 0;
}

.aboutme-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-tags-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutme-tags-item {
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #36b37e;
  text-align: center;
}

/* end of about me section */

/* style of contact form */
.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
}

.contact-form-container > ul {
  text-align: center;
  bottom: 0%;
  right: 0%;
}

.contact-form-title {
  text-align: center;
  font-family: var(--general-font);
  font-weight: 700;
  font-style: normal;
  font-size: 2.1rem;
  line-height: 3.25rem;
  color: #172b4d;
  margin: 1.5rem 0;
}

li > input[type="text"],
input[type="email"],
textarea {
  border: 0.063rem solid #d0d9d4;
  border-radius: 0.25rem;
  height: 3rem;
  width: 100%;
  padding: 0.313rem;
  margin: 0.625rem 0;
}

textarea {
  height: 9.25rem;
}

.btn-get-in-touch {
  text-align: center;
}

.contact-form-social-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  margin-top: 2rem;
}

.contact-form-social-icon::after {
  content: url("assets/images/frame3.png");
  position: absolute;
  right: 0%;
}

.footer-social-meadia-item {
  font-family: var(--general-font);
  display: inline-block;
  padding: 0.625rem;
}

.footer-email {
  font-family: var(--general-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  color: #42526e;
  margin-bottom: 15rem;
}

/* end of style contact form */

/* Desktop version media queries */
@media screen and (min-width: 992px) {
  .header-container {
    background-color: transparent;
  }

  .main-section-container {
    background-image: url("/assets/images/DeskTop-header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    padding: 20% 5%;
    margin-top: -6rem;
  }

  .hamburger,
  .welcome,
  .footer-email,
  .hr-line,
  .contact-form-social-icon::after,
  #full-name {
    display: none;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 0.313rem;
  }

  .nav-link {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: #344563;
    flex-grow: 0;
    margin: 0 0.625rem;
    padding: 0.5rem;
  }

  .nav-link:hover {
    font-size: 1rem;
    text-shadow: 0 0 0.05rem #344563;
  }

  .nav-menu-underline {
    visibility: hidden;
    width: 80%;
    height: 0.11rem;
    margin-left: 1rem;
    background-color: #008552;
    left: 0;
  }

  .nav-link:hover + .nav-menu-underline {
    visibility: visible;
    animation: underline 1s ease-out infinite;
  }

  @keyframes underline {
    0% {
      width: 0;
    }

    50% {
      width: 80%;
    }

    100% {
      width: 0%;
    }
  }

  .main-section-paragraph {
    margin: 1rem 20%;
  }

  .social-meadia-items:hover {
    transform: scale(1.2);
  }

  .main-section-footer:hover {
    transform: scale(1.2);
  }

  /* work section desktop style */
  .work-section-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
  }

  .work-section-card {
    margin: auto;
    width: 32%;
  }

  .work-section-card:hover {
    border: 2px outset rgb(23 43 77 / 25%);
    transform: scale(1.02);
    box-shadow: 0 0 5px 1px #c5e9da;
  }

  .work-section-title {
    width: 100%;
  }

  /* about me section */
  .aboutme-cards-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% 5%;
  }

  .aboutme-text-area {
    padding: 0 8rem;
  }

  .aboutme-card-item {
    height: 66vh;
    width: 32%;
    margin: 0;
  }

  .aboutme-card-item:hover {
    border: 2px outset rgb(23 43 77 / 25%);
    transform: scale(1.02);
    box-shadow: 0 0 5px 1px #c5e9da;
  }

  .aboutme-container {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1.25rem;
    background-image: url("assets/images/desktop-aboutme-2.png"), url("assets/images/desktop-aboutme-1.png");
    background-position: 100% 0%, 0% 15%;
    background-size: 20%;
    background-repeat: no-repeat, no-repeat;
  }

  .contact-form-container {
    display: flex;
    flex-direction: row;
    background:
      url("assets/images/desktop-contact1.png") no-repeat 0% 115%,
      url("assets/images/desktop-contact2.png") no-repeat 27% 94%,
      url("assets/images/desktop-contact3.png") no-repeat 100% 100%;
    background-size: 15%;
    padding: 1rem 5rem 10rem;
  }

  .contact-form-title {
    width: 30%;
    text-align: left;
    margin: 0;
    padding-right: 0.5rem;
  }

  .contact-form-desc {
    width: 70%;
    text-align: left;
  }

  #first-name {
    margin-right: 1rem;
    flex: 1;
  }

  #last-name {
    flex: 1;
  }

  .f-l-name {
    display: flex;
    justify-content: space-between;
  }

  li > input:hover,
  li > textarea:hover {
    border: 2px outset rgb(23 43 77 / 25%);
    box-shadow: 0 0 5px 1px #c5e9da;
  }

  li > input:focus,
  li > textarea:focus {
    background-color: #ebf0ee;
  }

  .contact-form-social-icon {
    justify-content: center;
    margin: 1rem;
  }

  .footer-social-meadia-item {
    padding: 0 0.75rem;
  }

  .footer-social-meadia-item:hover {
    transform: scale(1.2);
  }
}
